#about-us {
  background: #fff;
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 150vw;
  background: #fff image-url('about-us-mobile.jpg') center 40vh no-repeat;
  background-size: 90%;

  @include breakpoint(800px) {
    height: 100vh;
    padding-bottom: 10vh;
    background-image: image-url('about-us.jpg');
    background-position: center 50vh;
  }

  @include breakpoint(1400px) {
    background-size: 70%;
  }

  p {
    @include divider;
  }
}

#contact-us {
  background: #f8f8f8;
  max-width: 100%;
  padding: 10vh;

  a {
    display: block;
    font-weight: 500;
    color: #00BC9B;
    text-decoration: none;

    &:hover {
      color: #00BC9B;
      text-decoration: underline;
    }
  }
}