body {
  display: block;
  margin: 0;
  padding: 0;
  background: #e5edf0 image-url("bg_header.jpg") top center / 100% auto no-repeat;
  text-align: center;
}

header {
  display: block;
  margin: 0;
  padding: 60px 0;

  h1 {
    margin: 0;
    opacity: 0.9;
    font-size: 36px;
    font-weight: 500;
  }

  nav {
    display: block;
    margin: 48px 0;

    ul {
      display: block;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0 16px;
    }

    a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: #666;
      opacity: 0.7;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;

      &::hover {
        color: #666;
      }
    }
  }
}

#intro {
  max-width: 640px;
  padding: 0 20px;

  h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 300;
    margin: 0;
  }

  h2 {
    @include divider;
  }
}

