*, *::after, *::before {
  box-sizing: border-box;
}

section, .container {
  max-width: 640px;
  margin: 0 auto;
}

@mixin divider {
  &::after {
    content: "";
    display: block;
    margin: 60px auto 100px auto;
    width: 60px;
    height: 2px;
    background: #000;
    opacity: 0.6;
  }
}