#our-work {
  display: block;
  text-align: center;
  max-width: 100%;
  padding: 0 0 60px 0;
  @include clearfix;

  h2 {
    margin: 15vh 0 10vh 0;
    text-align: center;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      background: transparent image-url("icons/arrow_down.png") no-repeat center center;
    }
  }

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  li {
    display: block;
    float: left;
    margin: 0;
    background: #000;
    border: solid 10px transparent;
    border-radius: 14px;

    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% auto;

    text-indent: -999em;
    overflow: hidden;

    width: 33.3vw;
    height: 33.3vw;
    border-width: 4px;
    border-radius: 8px;

    @include breakpoint(800px) {
      width: 25vw;
      height: 25vw;
      background-size: 60% auto;
    }

    @include breakpoint(960px) {
      width: 16.66vw;
      height: 16.66vw;
      border-width: 6px;
      border-radius: 10px;
    }

    @include breakpoint(1200px) {
      width: 12.5vw;
      height: 12.5vw;
      border-width: 8px;
      border-radius: 12px;
    }
  }
}