<ul>
<% [
     ["newshunt","#d0021b"],
     ["flipkart","#027cd5"],
     ["zipdial","#d11f2e"],
     ["myntra","#f4f4f4"],
     ["yourstory","#de1b22"],
     ["toppr","#55bbea"],
     ["vwo","#3b1b4f"],
     ["fabhotels","#e1ae19"],
     ["wah","#f96643"],
     ["mysmartprice","#34495d"],
     ["swiggy","#f68620"],
     ["limeroad","#d11b5b"],
     ["groupon","#63ab10"],
     ["urbanclap","#9b59b6"],
     ["klp","#2c3e50"],
     ["simplotel","#fba100"],
     ["monkeybar","#803e15"],
     ["zoomcar","#6abd19"],
     ["airgol","#00b7e2"],
     ["mad","#f8a01a"],
     ["dunzo","#616161"],
     ["pycon","#fa7a75"],
     ["peerwater","#80af46"],
     ["rubymonk","#94816f"],
     ["hasgeek","#e95b2c"],
     ["flutura","#273c88"],
     ["poshvine","#2ea083"],
     ["aruba","#f5831f"],
     ["maas360","#007dc3"],
     ["insider","#ed3139"],
     ["mygola","#919191"],
     ["ubona","#f4a90e"],
     ["grasshopper","#040707"],
     ["ashokahub","#003a5f"],
     ["choicelunch","#7d4700"],
     ["burrp","#c0d028"],
     ["practo","#02a6d8"],
     ["payzippy","#071ad0"],
     ["zomato","#cb202e"],
     ["collageflow","#c35465"],
     ["quint","#0065a7"],
     ["agropedia","#ee9b11"],
     ["vee","#c64e45"],
     ["workspan","#40b8da"],
     ["sliderule","#1abc9c"],
     ["likethatonly","#040608"],
     ["healthi","#aacb5a"],
     ["citrus","#f6931d"],
   ].each do |client|  %>
  <li class="client-<%= client[0] %>"
      style="background-image: url(images/clients/<%=client[0]%>.png);
             background-color: <%=client[1]%>">
    Client
  </li>
<% end %> 
</ul>