<ul>
<% [
     "newshunt",
     "flipkart",
     "zipdial",
     "myntra",
     "yourstory",
     "toppr",
     "vwo",
     "fabhotels",
     "wah",
     "mysmartprice",
     "swiggy",
     "limeroad",
     "groupon",
     "urbanclap",
     "klp",
     "simplotel",
     "monkeybar",
     "zoomcar",
     "airgol",
     "mad",
     "dunzo",
     "pycon",
     "peerwater",
     "rubymonk",
     "hasgeek",
     "flutura",
     "poshvine",
     "aruba",
     "maas360",
     "insider",
     "mygola",
     "ubona",
     "grasshopper",
     "ashokahub",
     "choicelunch",
     "burrp",
     "practo",
     "payzippy",
     "zomato",
     "collageflow",
     "quint",
     "agropedia",
     "vee",
     "workspan",
     "sliderule",
     "likethatonly",
     "healthi",
     "citrus",
   ].each do |client|  %>
  <li class="client-<%= client %>">
    <img src="images/clients/<%=client%>.png" alt="">
  </li>
<% end %> 
</ul>