---
title: We are Uncommon
---

<header>
  <h1>uncommon</h1>

  <nav>
    <ul>
      <li><a href="#our-work">Our Work</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>

<section id="intro">
  <h1>
    Hello, <br/>
    We are Uncommon
  </h1>

  <h2>Over the last half-decade, we have dedicated our time to methodically learning how to create the best consumer experiences in the world.</h2>
</section>

<section id="our-work">
  <h2>Great people we have worked with</h2>

  <%= partial "pages/home/clients" %>

</section>

<section id="about-us">
  <div class="container">
    <h2>About Us</h2>
    <p>By practicing a seamless weave of technology, design, and strategy, we build brands and products that are simple, intelligent and human.</p>
  </div>
</section>

<section id="contact-us">
  <div class="container">
    <h2>Get In Touch</h2>
    <p>Let us know if you want us to design for you. We’re excited to talk more with thoughtful and passionate teams. Email us, call us or stop by.</p>

    <a href="mailto:hello@uncommon.is">hello@uncommon.is</a>
  </div>
</section>

<footer>
  <p>&copy; Uncommon 2015-2016. All rights reserved.</p>
  
  <ul>
    <li>Ahmedabad</li>
    <li>Bangalore</li>
    <li>Chandigarh</li>
    <li>Hyderabad</li>
  </ul>  
</footer>